/* ---------- FONTS ---------- */
@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "montserrat-extrabold";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}
