/* ---------- MEDIA QUERIES ---------- */
$laptop: 1024px;
@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

$tablet: 768px;
@mixin tablet-up {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-lower {
    @media (max-width: calc(#{$tablet}-1)) {
        @content;
    }
}

$mobile: 600px;
@mixin mobile-up {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile-lower {
    @media (max-width: calc(#{$mobile}-1)) {
        @content;
    }
}
