/* ---------- MIXINS ---------- */
// FONTS
@mixin font-title {
    margin: 0;
    font-family: "montserrat-extrabold"; 
}

@mixin font-subtitle {
    font-family: "montserrat-bold";    
}

@mixin font-text {
    font-family: "montserrat-regular";   
}

// FLEX DISPLAYS
@mixin flex-align-center {
    display: flex;
    align-items: center;  
}

@mixin flex-align-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
