/* ---------- GLOBAL VARIABLES ---------- */
//   COLORS
$bc-color: #080d1d;
$text-color: #ffffff;
$blue: #109aba;
$pink: #da3c77;
$purple: #c570e2;
$off-white: #bcbcbc;

// BOX-SHADOWS
$box-shadow--pink: 0px 1px 10px 0px rgba(218, 60, 19, 0.75);
$box-shadow--blue: 0px 1px 10px 0px rgba(16, 154, 186, 0.75);


