.contact {
    @include col-10;

    .container--flex {
        align-items: flex-start;
        margin-top: 2em;
    }

    h2 {
        text-align: center;
    }

    span {
        color: $pink;
    }
}
