.worlds {
    position: relative;

    img {
        max-width: 100vw;
        width: auto;
        height: auto;
        display: block;
        position: absolute;
        top: -8em;
        left: 0;
        right: 0;
        z-index: -2;

        @include tablet {
            top: -2em;
        }
           }

    .container--flex {
        align-items: flex-start;
        justify-content: start;
        padding: 0 6%;
        margin-top: 40%;
    }

    .text--freelancers {
       width: 50%;  

       @include tablet {
        width: 75%; 
    }            
    }

    .text--companies {
        width: 50%;
        margin: 41% 5% 0 auto;

        p {
            text-align: right;
        }
        
        @include tablet {
            width: 75%; 
        }

        @include mobile {
            margin: 0 5% 0 auto;
        }
    }

    .button--display--sm {
        display: none;

        @include mobile {
            display: inline;
            margin-bottom: 5%;
        }
    }
}
