header {
    @include flex-center-space-between;
    padding: 2% 6%;
    background-color: $bc-color;

    .link--whatsapp {
        @include font-text;
        margin: 0;
        color: $pink;
        font-weight: bold;

        .outline__link {
            &::before {
                background-color: $pink;
            }
        }
    }

    .logo {
        width: clamp(15rem, 18vw, 20rem);
        height: auto;
    }
}
