.dreamers {
    padding: 0 6%;

    h2 {
        @include font-title;
        font-size: 4.883em;
    }

    span {
        color: $pink;
    }

    &__header {
       
       h2 {
            width: 75%;
        }

        img {
            width: 40%;
            margin-top: 0;
        }

        @include tablet-up {
            display: flex;
            justify-content: space-between;
        }
    }

    &__container {
     
        .profile {
            text-align: center;
            
            &__img {
                width: 75%;

                @include tablet-up {
                    width: 100%;
                }
            }
                    }

        .bio {
            &__description {
                padding: 1em;
                border: 2px solid $blue;
                border-radius: 8px;
                line-height: 24px;
            }
        }
    }

    &--felipe,
    &--elo {
        @include tablet-up {
            display: flex;
            align-items: center;
        }
    }

    &--elo {
        @include tablet-up {
            .profile {
                order: 2;
            }

            .bio {
                order: 1;
            }
        }
    }
}
