.hero {
    padding: 0 6%;

    &__container {
      @include tablet-up {
          display: flex;
      }
        }

        .container--md {
            margin-top: 0;
            // setting h2 and p with bc-color for the animations initally
            h2 {
                color: $bc-color;
            }

            p {
                color: $bc-color;
            }
        }

        .container--md:nth-child(2) {
            h2 {
                margin-left: auto;
                text-align: right;
            }
        }
    }

    .anchor__link {
        margin-top: 4em;
        color: $off-white;
        text-align: center;

        .outline__link {
            &::before {
                background-color: $text-color;
            }
        }
    }

    .narrow--down--icon {
        width: 1em;
        margin: 1em auto 0;
        cursor: pointer;
        // add animation to icon
        animation: bouncing 1s ease-in alternate infinite;

        // stop animation when hover it
        &:hover {
            animation-play-state: paused;
        }
    }

