.landing-trips {
    padding: 0 6%;
    margin: 5em 0;

    span {
        color: $blue;
        font-weight: bold;
    }

    &__container {
        @include tablet-up {
            display: flex;
        }
    }

    .image__container,
    .description__container {
        @include tablet-up {
            width: 50%;
        }
    }

    // this container will be displayed just on screens > tablet
    .image__container {
        height: 70vh;
        position: relative;

        img {
            height: 100%;
            position: absolute;
            top: -5em;
            left: -25%;
            z-index: 0;

            @include laptop {
                width: 100%;
                height: auto;
                left: -20%;
            }
        }
    }

    .description__container {
        text-align: right;
    }
}
