.worlds {
    position: relative;

    // sett the container of the frame as absolute
    .frame__container {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        right: 0;

        @include tablet-up {
            top: -10%;
        }
    }

    // then, to the frame img, add the image as background
    .frame__img {
        height: clamp(100vh, 100vw, 1200px);
        background-image: url("/images/Foguetes.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__container {
        padding: 0 6%;
        margin-top: 50%;

        @include tablet-up {
            margin-top: 45%;
        }
    }

    .freelancers__text,
    .companies__text {
        width: 70%;

        @include tablet-up {
            width: 50%;
        }
    }

    .companies__text {
        margin-left: auto;
        p {
            text-align: right;
        }
    }
}

.button--display--sm {
    display: inline;
    margin-bottom: 5%;

    @include tablet-up {
        display: none;
    }
}
