button {
    margin: 1em 0;
    padding: 0.63em 1.5em;
    background-color: $pink;
    border: none;
    border-radius: 30px;
    box-shadow: $box-shadow--pink;   
    color: $text-color;
    cursor: pointer;
    font-weight: bold;
    outline: none;    
    @include font-text;

    &:hover {
        background-color: $blue;
        box-shadow: $box-shadow--blue;   
        transition: all 0.3s ease;
        z-index: 2;
    }
}
