// CONTAINERS
.container--md {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;

    @include mobile-up {
        width: 75%;
    }

    @include tablet-up {
        width: 50%;
    }
}

.section__container--description {
    padding: 0 6%;
    margin: 0 auto;
    text-align: center;
    
    @include mobile-up {
        width: 75%;
    }
}
