/* ---------- RESET ---------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------- GLOBAL STYLES ---------- */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: $bc-color;
    color: $text-color;
    font-size: 62.5%;
    // main title
    h1 {
        font-size: 4.883em;
        @include font-title;

        @include tablet {
            font-size: 3.9em;
        }

        @include mobile {
            font-size: 3.1em;
        }
    }
    // subtitle
    h2 {
        font-size: 3.1em;
        @include font-subtitle;

        @include tablet {
            font-size: 2.5em;
        }

        @include mobile {
            font-size: 2em;
        }
    }
    // section subtitle
    h3 {
        font-size: 2.5em;
        font-weight: bold;
        @include font-text;

        @include tablet {
            font-size: 2em;
        }

        @include mobile {
            font-size: 1.6em;
        }
    }

    p,
    button {
        font-size: 1.6em;
        @include font-text;

        @include mobile {
            font-size: 1.4em;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.5;
    }
}


