/* ---------- ANIMATIONS ---------- */

/* DARK -> WHITE */
.fade {
    animation: fadein 3.5s;
    animation-fill-mode: forwards;
    background-color: $bc-color;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        background-color: unset;
        color: $text-color;
        opacity: 1;
    }
}

/* DARK -> GREY */
.fade--off-white {
    animation: fadein-off-white 3.5s;
    animation-fill-mode: forwards;
    background-color: $bc-color;
}

@keyframes fadein-off-white {
    from {
        opacity: 0;
    }
    to {
        background-color: unset;
        color: $off-white;
        opacity: 1;
    }
}

/* FADE DELAYS */
.delay--1 {
    animation-delay: 1s;
}

.delay--2 {
    animation-delay: 1.3s;
}

.delay--3 {
    animation-delay: 2s;
}

.delay--4 {
    animation-delay: 2.3s;

    @include mobile {
        animation-delay: 1.3s;
    }
}

.delay--5 {
    animation-delay: 3s;

    @include mobile {
        animation-delay: 2s;
    }
}
